*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
}

.header{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(classph.jpg);
    background-position: center;
    background-size: cover;
    position: static;
}

.headerp2{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(tiamat.png);
    background-position: center;
    background-size: cover;
    position: static;
}

h1.hi{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 220%;
    color: ivory;
}

h3.and{
    font-family: cursive;
    text-align: center;
    color:ivory;
}

.andp2{
    font-family: cursive;
    text-align: center;
    color:ivory;
    margin-top: 10%;
    transform: translate(-3%,-100%);
}

.me{
    width: 156px;
    height: 470px;

    transform: translate(739%,57%);
    background-image: url(me.jpg);
    background-size: cover;
    border: 1px solid white;
    position: absolute;
}

.text{
    width: 90%;
    color: ivory;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-150%);
}

.fa-angle-double-down{
    transform: translate(3720%,-50%);
}

.D{
    font-family: cursive;
    font-size: 20px;
    margin-right: 0px;
    margin-left: 85%;
    transform: translate(0%,-70%);
}

nav{
    display: flex;
    padding: 1% 1%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(233, 164, 35, 0.3);
    position: fixed;
    width: 100%;
}

.btn1{
    display: table-column;
    text-decoration: none;
    color: white;
    border: white solid 1px;
    padding: 0.5% 0.5%;
    background: transparent;
    margin-left: 5px;
}

.btn1:hover{
    border: crimson solid 1px;
    background:crimson;
    transition: 1s;
}

.btn2{
    display: table-column;
    text-decoration: none;
    color: white;
    border: white solid 1px;
    padding: 0.5% 0.5%;
    background: transparent;
    margin-right: 20px;
}

.btn2:hover{
    border: crimson solid 1px;
    background:crimson;
    transition: 1s;
}

.nav-links{
    flex: 1;
    text-align: right;
    font-family: 'Odibee Sans', cursive;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    margin-right: 10px;
}

.nav-links ul li a{
    color: seashell;
    text-decoration: none;
    font-size: 17px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    border: white solid 1px;
    transition: 0.5s;
    display: block;
    margin: auto;
}

.nav-links ul li:hover::after{
    width: 100%;
    display: block;
    border: white solid 1px;
}

.abtme{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(rumput.jpg);
    background-position: center;
    background-size: cover;
    position: static;
}

.textp2{
    font-size: 200%;
    color: ivory;
    padding: auto;
    margin-left: 42%;
    transform: translate(0%,200%);
}

.pic{
    padding: auto;
    margin-left: 5%;
    transform: translate(0%,40%);
    border: rgb(29, 1, 1) solid 3px;
}

.box{
    width: 500px;
    height: 350px;
    padding: auto;
    margin-left: 35%;
    margin-top: -15%;
    border: tan solid 1px;
    border-radius: 10px;

    background-color: rgb(210, 180, 140,0.8);
    text-align: center;
    vertical-align: middle;
    font-family: 'Mate SC', serif;
    font-size: 18;
    line-height: 38px;
}

.exp{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(perbarisan.jpg);
    background-position: center;
    background-size: cover;
    position: static;
}

.textp3{
    font-size: 200%;
    color: ivory;
    padding: auto;
    margin-left: 35%;
    transform: translate(0%,200%);
}

.boxp2{
    width: 180px;
    height: 80px;
    padding: auto;
    margin-left: 22%;
    margin-top: -3%;
    border: tan solid 1px;
    border-radius: 10px;

    background-color: rgb(210, 180, 140,0.8);
    text-align: center;
    vertical-align: middle;
    font-family: 'Mate SC', serif;
    font-size: 20;
    line-height: 20px;
}

.picp2{
    padding: auto;
    margin-left: 40%;
    transform: translate(0%,-60%);
    border: rgb(29, 1, 1) solid 3px;
}

.boxp3{
    width: 500px;
    height: 30px;
    padding: auto;
    margin-left: 46%;
    transform: translate(0%,-550%);

    border: tan solid 1px;
    border-radius: 10px;

    background-color: rgb(210, 180, 140,0.8);
    text-align: center;
    vertical-align: middle;
    font-family: 'Mate SC', serif;
    font-size: 20;
    line-height: 20px;
}

.table{
    width: 500px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(87%,70%);

    font-size: 20px;
}

.tablep2{
    width: 309px;
    height: 365px;
    top: 50%;
    left: 50%;
    transform: translate(180%,10%);
    border-radius: 5px;
    background-color: rgb(247,242,233,0.7) ;
    
    font-size: 14px;
    font-family: 'Dancing Script', cursive;
}

.socmed{
    display: flex;
    padding: 1% 1%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(253, 253, 253, 0.7);
    position: fixed;
    width: 15%;
    transform: translate(225%,600%);
    text-align: right;
}

.tq{
    align-items: center;
    color: floralwhite;
    width: 35%;
    transform: translate(100%,330%);
    font-family: 'Staatliches', cursive;
}